/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  width:30%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px 40px;

}
