<div class="container mt-3">
  <form  (ngSubmit)="userlogin()">




    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        [(ngModel)]="user.username"
        id="username"
        name="username"
        placeholder="Enter Your Email"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.password"
        id="password"
        name="password"
        placeholder="Enter Your Password"
      />
    </div>


    <button type="submit" class="btn btn-primary btn-primary ml-4">
      Login
    </button>
  </form>
</div>

